{{#each this}}
  <li class='film-list_item'>
    <img id={{id}} class='film-list_img' src="{{poster_path}}" alt={{original_title}} />
    <h2 class='film-list_name'>
      {{original_title}} {{name}}
    </h2>
    <ul class='film-list_info'>
      <li>
        {{genre_ids}}
      </li>
      <li>
        <p class='line'>
          |
        </p>
      </li>
      <li>
        {{release_date}}
      </li>
      <li>
        <p class='film-vote'>
          {{vote_average}}
        </p>
      </li>
    </ul>
  </li>
{{/each}}