{{#each this}}
  <li class='pagination-item first-item'>
    <a class='button-item'>
      {{page}}
    </a>
  </li>
  <li class='pagination-first-item-span'>
    ...
  </li>
  {{!-- <li class='pagination-item two-item'>
    <a class='button-item'>
      {{page}}
    </a>
  </li>
  <li class='pagination-item three-item'>
    <a class='button-item'>
      {{page}}
    </a>
  </li>
  <li class='pagination-item four-item'>
    <a class='button-item'>
      {{page}}
    </a>
  </li>
  <li class='pagination-item five-item'>
    <a class='button-item'>
      {{page}}
    </a>
  </li>
  <li class='pagination-item six-item'>
    <a class='button-item'>
      {{page}}
    </a>
  </li> --}}
  <li class='pagination-last-item-span'>
    ...
  </li>
  <li class='pagination-item last-item'>
    <a class='button-item'>
      {{total_pages}}
    </a>
  </li>
{{/each}}